body {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

p {
    margin: 0;
}

.header {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 44px 0 26px;

    }

    &__logo {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #244d4d;
    }

    &__menu {
        display: flex;
        gap: 76px;
        padding-right: 101px;

    }

    &__link {
        font-size: 16px;
        color: #161616;

    }

    &__link:hover {
        opacity: 0.6;
    }

    &__nav {
        display: flex;
        gap: 30px;

        a {
            display: flex;
            align-items: center;
        }
    }

}





.aside {
    &__col {
        display: flex;

    }

    &__img {
        display: block;
    }

    &__right {
        background-color: #154444;
        padding: 100px 0 137px 100px;
        box-sizing: border-box;
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 56px;
        color: #fff;
    }

    &__desc {
        line-height: 125%;
        color: #fff;
        width: 68%;
        margin: 20px 0 35px 0;
    }

    &__btn {
        display: inline-block;
        line-height: 125%;
        color: #154444;
        padding: 15px 25px;
        background-color: #fff;

    }
}


.companies {
    margin-top: 140px;


    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        color: #244d4d;
        margin-bottom: 24px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        box-sizing: border-box;



    }

    &__img {
        display: flex;
        padding: 16px;
    }
}


.benefits {
    margin-top: 140px;

    &__col {
        display: flex;

    }

    &__left {
        position: relative;

        & img {
            position: relative;
            z-index: 10;
        }
    }

    &__behaind {
        position: absolute;
        top: 26px;
        left: 0;
        width: 631px;
        height: 586px;
        background-color: #dee4e2;
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        color: #244d4d;
        padding-bottom: 20px;
    }

    &__desc {
        line-height: 125%;
        color: #444;
    }

    &__right {
        padding: 46px 0 0 135px;
        box-sizing: border-box;
    }

    &__box__row {
        display: flex;
    }

    &__box__col {
        padding-left: 28px;
    }

    &__box__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 130%;
        color: #244d4d;
        padding: 35px 0 14px 0;

    }

    &__box__desc {
        font-size: 18px;
        line-height: 144%;
        color: #383738;
    }

}

.catalog {
    margin-top: 140px;

    &__upper {
        margin-bottom: 89px;
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: #242424;
        text-align: center;
        padding-bottom: 20px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    &__item {
        font-size: 24px;
        line-height: 113%;
        color: #919090;
    }

    &__left {
        position: relative;
        margin-left: 12px;

        img {
            position: relative;
            z-index: 10;
        }
    }

    &__behaind--top {
        width: 190px;
        height: 85px;
        background-color: #154444;
        position: absolute;
        top: -9px;
        left: -12px;
    }

    &__behaind--bottom {
        width: 190px;
        height: 85px;
        background-color: #154444;
        position: absolute;
        bottom: -10px;
        right: -11px;
    }

    &__below {
        display: flex;
        justify-content: space-between;
        gap: 147px;
    }


    &__right {
        max-width: 474px;
        width: 100%;
        padding-top: 35px;
    }


    &__col {

        display: flex;
        flex-wrap: wrap;
        margin: -15px;


    }

    &__ww {
        width: 50%;
        padding: 15px;
        box-sizing: border-box;


    }

    &__container {
        width: 100%;
        height: 90px;
        background-color: white;
        display: block;
        border: 1.50px solid #d9dce5;
        cursor: pointer;



    }

    &__img {
        display: block;
    }

    &__img path {
        fill: #666666;
    }




    &__container:hover {
        .catalog__text {
            color: #fff;
        }

        .catalog__img path {
            fill: #fff;
        }


        background-color: #154444;
    }




    &__text {
        color: #808080;
    }



}


.hero {
    margin-top: 166px;

    &__row {
        display: flex;



    }

    &__left {
        position: relative;
    }

    &__img {
        position: absolute;
        z-index: 10;
        left: 105px;
    }

    &__behaind {
        width: 492px;
        height: 492px;
        border-radius: 50%;
        background-color: #244d4d;
        ;


    }

    &__right {
        padding: 105px 0 94px 172px;
        box-sizing: border-box;
    }

    &__title {
        font-family: "Monoton", sans-serif;
        font-size: 32px;
        line-height: 150%;
        color: #242424;
    }

    &__desc {
        padding: 20px 0 40px;
        line-height: 135%;
    }

    &__user {
        display: flex;

    }

    &__name {
        padding-left: 10px;
        box-sizing: border-box;
        font-size: 16px;

        p {
            font-size: 14px;
        }
    }


}

.subscribe {
    margin-top: 100px;

    &__row {
        background-color: #f4f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        color: #222;
        padding: 68px 0 20px;

    }

    &__desc {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #222;
        padding-bottom: 40px;
    }

    &__form {
        padding-bottom: 55px;
    }

    &__register {
        background-color: #fff;
        padding: 9px 19px 7px 45px;

    }

    &__input {
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 138%;
        color: #bababa;
        padding-right: 81px;


    }

    &__register {
        position: relative;
    }

    &__bf:before {
        content: url("../img/subscribe.svg");
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);

    }

    &__btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 138%;
        color: #fff;
        background: #305f64;
        padding: 15px 33px 15px 31px;
        border: none;

    }
}



.footer {
    background-color: #305f64;
    margin-top: 98px;

    &__top {
        display: flex;
        padding: 100px 0 40px;
        justify-content: space-between;
    }


    &__logo {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        padding-bottom: 24px;
    }

    &__desc {
        font-size: 18px;
        line-height: 144%;
        color: #fff;
        padding-bottom: 40px;
    }

    &__col--title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 130%;
        color: #fff;
        padding-bottom: 24px;
    }

    &__link {
        font-size: 18px;
        color: #fff;

    }

    &__img {
        display: flex;
        gap: 15px;
    }

    &__input {
        border: none;
        outline: none;
        padding: 14px 70px 13px 22px;
    }


    &__wrap {
        position: relative;
    }

    &__btn {
        border: none;
        background: #FFB624;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
    }


}

.copyright {
    text-align: center;
    border-top: 1px solid #407980;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}


// .sl{
//     width: 200px;
//     height: 200px;
//     background-color: #305f64;

//    box-sizing: border-box;
//    border: 2px solid rebeccapurple;


// }


.popular {
    margin-top: 175px;

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 163%;
        color: #242424;
    }

    &__desc {
        line-height: 135%;
        color: #383738;
        padding: 20px 0 95px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__col {
        width: 33.3%;
        box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);

    }

    &__bottom {
        box-sizing: border-box;
        padding: 30px 54px 26px 24px;
    }

    &__line {
        display: flex;
        justify-content: space-between;


    }

    &__btn {
        padding: 8px 10px;
        background-color: #ecf4ff;
        border-radius: 50%;
        box-sizing: border-box;
        border: none;
        cursor: pointer;
    }

    &__link {
        cursor: pointer;
        font-weight: 500;
        font-size: 12px;
        line-height: 175%;
        color: #fff;
        background: #244d4d;
        padding: 5px 14px;
        border: none
    }

}


@media (max-width:1230px) {}