body {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    background: #fcfbff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.header {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 44px 0 26px;

    }

    &__logo {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #244d4d;
    }

    &__menu {
        display: flex;
        gap: 76px;
        padding-right: 101px;

    }

    &__link {
        font-size: 16px;
        color: #161616;

    }

    &__link:hover {
        opacity: 0.6;
    }

    &__nav {
        display: flex;
        gap: 30px;

      
    }

    &__button{
        background-color: #fff;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    &__burger{
        background-color: #fff;
        border: none;
        cursor: pointer;
    }

}





.aside {
    &__row {
        display: flex;

    }
    &__left{
        display: flex;
    }

    &__img {
        display: block;
    }


    &__right {
        background-color: #154444;
        padding: 100px 0 137px 100px;
        box-sizing: border-box;
        
    }
    

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 56px;
        color: #fff;
    }

    &__desc {
        line-height: 125%;
        color: #fff;
        width: 68%;
        padding: 20px 0 35px;
       
    }

    &__btn {
        display: inline-block;
        line-height: 125%;
        color: #154444;
        padding: 15px 25px;
        background-color: #fff;

    }
}


.companies {
    margin-top: 140px;


    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        color: #244d4d;
        margin-bottom: 24px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;



    }

    &__img {
        display: flex;
        padding: 16px;
    }
}


.benefits {
    margin-top: 120px;

    &__col {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        position: relative;

        & img {
            position: relative;
            z-index: 10;
        }
    }

    &__behaind {
        position: absolute;
        top: 26px;
        left: 0;
        width: 631px;
        height: 586px;
        background-color: #dee4e2;
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        color: #244d4d;
        padding-bottom: 20px;
    }

    &__desc {
        line-height: 125%;
        color: #444;
    }

    &__right {
        width: 37%;
        padding-top: 46px;
        box-sizing: border-box;
    }

    &__box{

        &__row{
            display: flex;
        padding-top: 35px;
        img{
            width: 50px;
            height: 50px;
        }
        }

        &__col{
            padding-left: 28px;
        }

        &__title{
            font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 130%;
        color: #244d4d;
        padding-bottom: 14px;
        }
        &__desc{
            font-size: 18px;
            line-height: 144%;
            color: #383738;
            width: 80%;
        }

    }

}
.popular {
    margin-top: 175px;

    &__row{
        position: relative;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 163%;
        color: #242424;
    }

    &__desc {
        width: 80%;
        line-height: 135%;
        color: #383738;
        padding: 20px 0 80px;
    }

   

    &__col {
        
        box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);
        display: flex;
        flex-direction: column;

    }
    &__img{
        img{
            width: 100%;
            height: 100%;
        }
        
    }

    &__bottom {
        box-sizing: border-box;
        padding: 30px 24px 26px 24px;
    }

    &__line {
        display: flex;
        justify-content: space-between;


    }

    &__button {
        padding: 8px 10px;
        background-color: #ecf4ff;
        border-radius: 50%;
        box-sizing: border-box;
        border: none;
        cursor: pointer;
    }
    &__button:nth-child(1n){
        margin-bottom: 20px;
    }
   
 &__active{
        padding: 8px 10px;
        background-color: #ecf4ff;
        border-radius: 50%;
        box-sizing: border-box;
        border: none;
        cursor: pointer;

        &.js-active{
             background-color:#ef5423;

             path{
                fill: white;
             }
        }
    }


    &__link {
        cursor: pointer;
        font-weight: 500;
        font-size: 12px;
        line-height: 175%;
        color: #fff;
        background: #244d4d;
        padding: 8px 16px;
        border: none
    }

}

.catalog {
    margin-top: 140px;

    &__upper {
        margin-bottom: 89px;
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: #242424;
        text-align: center;
        padding-bottom: 20px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    &__item {
        font-size: 24px;
        line-height: 113%;
        color: #919090;
        
    }

    &__item::after {
        content: "";
        width: 57px;
        height: 3px;
        background: #fff;
        margin: 6px 57px;
        display: block;
        
        
        
        

     }
     &__item:hover{
        color: #154444;
     }
     &__item:hover::after{
        background-color:#154444;
        
        
     }

    &__left {
        position: relative;
        margin-left: 12px;

        img {
            position: relative;
            z-index: 10;
        }
    }

    &__behaind--top {
        width: 190px;
        height: 85px;
        background-color: #154444;
        position: absolute;
        top: -9px;
        left: -12px;
    }

    &__behaind--bottom {
        width: 190px;
        height: 85px;
        background-color: #154444;
        position: absolute;
        bottom: -10px;
        right: -11px;
    }

    &__below {
        display: flex;
        justify-content: space-between;
       
    }


    &__right {
        max-width: 474px;
        width: 100%;
        padding-top: 35px;
        
    }


    &__col {

        display: flex;
        flex-wrap: wrap;
        margin: -15px;


    }

    &__ww {
        width: 50%;
        padding: 15px;
        box-sizing: border-box;


    }

    &__container {
        width: 100%;
        height: 90px;
        background-color: white;
        display: block;
        border: 1.50px solid #d9dce5;
        cursor: pointer;
        transition: 1s;



    }

    &__img {
        display: block;
    }

    &__img path {
        fill: #666666;
    }




    &__container:hover {
        .catalog__text {
            color: #fff;
        }

        .catalog__img path {
            fill: #fff;
        }


        background-color: #154444;
    }




    &__text {
        color: #808080;
    }



}


.hero {
    margin-top: 140px;

    &__row {
        display: flex;
        justify-content: space-between;

    }

    &__left {
        position: relative;
    }

    &__img {
        position: absolute;
        z-index: 10;
        left: 105px;
    }

    &__behaind {
        width: 492px;
        height: 492px;
        border-radius: 50%;
        background-color: #244d4d;
        ;


    }

    &__right {
        padding-top: 105px;
        box-sizing: border-box;
        max-width: 474px;
    }

    &__title {
        font-family: "Monoton", sans-serif;
        font-size: 32px;
        line-height: 150%;
        color: #242424;
    }

    &__desc {
        padding: 20px 0 40px;
        line-height: 135%;
    }

    &__user {
        display: flex;

    }

    &__name {
        padding-left: 10px;
        box-sizing: border-box;
        font-size: 16px;

        p {
            font-size: 14px;
        }
    }


}

.subscribe {
    margin-top: 113px;

    &__row {
        background-color: #f4f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        color: #222;
        padding: 68px 0 20px;

    }

    &__desc {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #222;
        padding-bottom: 40px;
    }

    &__form {
        padding-bottom: 55px;
    }

    &__register {
        position: relative;
        
    }

    &__input {
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 138%;
        color: #bababa;
        padding: 22px 175px 22px 45px;


    }

    &__register {
        position: relative;
    }

    &__bf:before {
        content: url("../img/subscribe.svg");
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);

    }

    &__btn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 500;
        font-size: 16px;
        line-height: 138%;
        color: #fff;
        background: #305f64;
        padding: 15px 33px 15px 31px;
        border: none;
        cursor: pointer;

    }
}



.footer {
    background-color: #305f64;
    margin-top: 150px;

    &__top {
        display: flex;
        padding: 100px 0 40px;
        justify-content: space-between;
    }


    &__logo {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        padding-bottom: 24px;
    }

    &__desc {
        font-size: 18px;
        line-height: 144%;
        color: #fff;
        padding-bottom: 40px;
    }
    &__df{
        display: flex;
        gap: 100px;
    }

    &__col--title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 130%;
        color: #fff;
        padding-bottom: 24px;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
        font-size: 18px;
        color: #fff;

    }

    &__img {
        display: flex;
        gap: 15px;
    }
    &__form{
        display: inline-block;
    }

    &__input {
        border: none;
        outline: none;
        padding: 14px 70px 13px 22px;
    }


    &__wrap {
        position: relative;
    }

    &__btn {
        border: none;
        background: #FFB624;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        cursor: pointer;
    }


}

.copyright {
    text-align: center;
    border-top: 1px solid #407980;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}




.swiper-button-next{
    position: absolute;
    right: 0;
    top: 82px;
    width: 40px;
    height: 40px;
    padding: 12px;
    box-sizing: border-box;
    background-color:  #f4f6f6;
    border-radius: 50%;
}
.swiper-button-prev{
    width: 40px;
    height: 40px;
    padding: 12px;
    box-sizing: border-box;
    background-color:  #f4f6f6;
    border-radius: 50%;
}
.header__burger {
    position: relative;
    z-index: 1000;
    transition: 0.3s;
}
.header__burger.js-active {
    transform: rotate(90deg);
}



@media (max-width: 1120px){
  .benefits{
    &__title{
        font-size: 25px;
    }
    &__desc{
        font-size: 17px;
    }
    &__box{
        &__title{
            font-size: 17px;
        }
        &__desc{
            font-size: 15px;
        }
    }
  }  
  .catalog{
    &__right{
        padding-left: 20px;
    }
  }
  .hero{
    &__title{
        font-size: 27px;
    }
    &__desc{
        font-size: 17px;
    }
    &__right{
        padding-left: 90px;
    }
  }
  
}


@media (max-width: 1050px){
    .aside{
        &__title{
            font-size: 40px;
        }
        &__desc{
            font-size: 17px
        }
    }
    .benefits{
        &__right{
            width: 30%;
        }
    }
}

@media (max-width: 950px){
    .benefits{
        &__col{
            flex-direction: column;
            align-items: center ;
        }
        &__right{
            width: 100%;
        }
        &__box  {
            display: flex;
            justify-content: center;
        }
    }
    .popular{
        margin-top: 100px;
    }
}



@media (max-width: 900px) {
    .header {
        &__menu{
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.3s;
        padding: 20px;
        box-sizing: border-box;

        }
        &__link{
            font-size: 45px;
        }
    }
    .header__menu.js-active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .companies{
        &__icon{
            flex-wrap: wrap;
            justify-content: center;
            li{
                width: 33%;
                padding: 16px;
                text-align: center;
                box-sizing: border-box;
            }
        }
        &__img{
            display: block;
        }
    }
    
    .catalog{
        &__below{
            flex-direction: column;
            align-items: center;
        }
    }

    .hero{
        &__row{
            flex-direction: column-reverse;
            align-items: center;
        }
        &__right{
            padding: 0;
            padding-bottom: 20px;
            max-width: 100%;
        }
        &__img{
            left: 65px;
        }
        
    }

    .footer{
        &__top{
            flex-direction: column;
            align-items: center;
        }
        &__col{
            max-width: 500px;
            width: 100%;
        }
        &__df{
            max-width: 500px;
            width: 100%;
            padding: 15px 0;
        }
        
        br{
            display: none;
        }
        &__desc{
            padding-bottom: 20px;
        }
        &__box{
            display: flex;
            
        }
        &__img{
            padding-left: 30px;
        }
        &__col--title{
            padding-bottom: 10px;
        }
    }
}


@media (max-width: 850px){
    .aside{
        &__title{
            font-size: 30px;
        }
        &__desc{
            font-size: 15px
        }
        &__right{
            padding-left: 50px;
        }
    }
    
}
@media (max-width: 800px){
    .aside{
        &__row{
            flex-direction: column;

        }
        &__left{
            display: none;
        }
       
    }
    .catalog{
        &__title{
            font-size: 25px;
        }
        &__menu{
            justify-content: space-between;
            gap: 0;
            li{
                text-align: center;
            }
        }
        &__item{
            font-size: 17px;
            
        }
    }
}

@media (max-width: 700px){
    .companies{
        margin-top: 70px;
    }
    .benefits{
        margin-top: 70px;
        &__behaind{
            display: none;
        }
        &__left{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .catalog{
        margin-top: 70px;

        &__left{
            width: 100%;
            margin-left: 0;
            img{
                width: 100%;
            }
        }
        &__upper{
            margin-bottom: 40px;
        }
    }
    .hero{
        margin-top: 70px;
    }
    .footer{
        margin-top: 75px;
    }
}

@media (max-width: 650px){
    .benefits{
        &__box{
            flex-direction: column;
        }

    }
    .subscribe{
            &__title{
                font-size: 25px;
            }
        }
}
@media (max-width: 600px){
    .header{
        &__link {
        font-size: 30px;
        }
    }
    .companies{
        &__icon{
            li{
                width: 50%;
            }
        }
    }
    .hero{
        &__behaind{
            display: none;
        }
        &__left{
            width: 100%;
        }
        &__img{
            position: static;
            img{
                width: 100%;
            }
        }
    }
    .subscribe{
        &__title{
            font-size: 20px;
        }
        &__desc{
            font-size: 14px;
        }
    }
}

@media (max-width: 530px){
    
    .catalog{
        &__menu{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__right{
            padding-left: 0;
        }
    }
    .subscribe{
        &__bf:before{
            left: 13px;
        }
        &__input{
            font-size: 14px;
            padding: 22px 130px 22px 35px;
        }
        &__btn{
            font-size: 15px;
            padding: 15px 20px;
        }
    }
}
@media (max-width: 390px){
    .aside{
        &__title {
        font-size: 28px;
    }
    }
    .subscribe{
        br{
            display: none;
        }
        &__desc{
            padding: 10px;
            box-sizing: border-box;
        }
        &__input{
            width: 50%;
            padding-right: 100px;
        }
        &__btn{
            padding: 14px 10px;
            right: 25px;
        }
    }

}