body {
font-family: "DM Sans", sans-serif;
font-size: 20px;
}

ul {
list-style: none;
padding: 0;
}

a {
text-decoration: none;
}

.container {
max-width: 1200px;
width: 100%;
margin: 0 auto;
}

.header__row {
display: flex;
justify-content: space-between;
align-items: center;
}
.header__logo {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 24px;
color: #244d4d;
}
.header__menu {
display: flex;
gap: 80px;
}
.header__link {
font-size: 16px;
color: #161616;
}
.header__link:hover {
opacity: 0.6;
}
.header__nav {
display: flex;
gap: 30px;
}

.aside__col {
display: flex;
height: 560px;
}
.aside__right {
background-color: #154444;
padding: 100px 18px 137px 100px;
box-sizing: border-box;
}
.aside__title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 56px;
color: #fff;
}
.aside__desc {
line-height: 125%;
color: #fff;
width: 68%;
}
.aside__btn {
display: inline-block;
line-height: 125%;
color: #154444;
padding: 15px 25px;
background-color: #fff;
}

.companies {
margin-top: 140px;
}
.companies__title {
text-align: center;
font-weight: 700;
font-size: 32px;
color: #244d4d;
margin-bottom: 40px;
}
.companies__icon {
display: flex;
justify-content: center;
gap: 100px;
}

.benefits__col {
display: flex;
}
.benefits__left {
position: relative;
}
.benefits__left img {
position: relative;
z-index: 10;
}
.benefits__behaind {
position: absolute;
top: 26px;
left: 0;
width: 631px;
height: 586px;
background-color: #dee4e2;
}