body{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header{
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__logo{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #244d4d;
    }
    &__menu{
        display: flex;
        gap: 80px;

    }

    &__link{
        font-size: 16px;
        color: #161616;
        
    }

    &__link:hover{
        opacity: 0.6;
    }
    &__nav{
        display: flex;
        gap: 30px;
    }

}





.aside{
    &__col{
        display: flex;
        height: 560px;
    }
    &__right{
        background-color: #154444;
        padding: 100px 18px 137px 100px;
        box-sizing: border-box;
    }
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 56px;
        color: #fff;
    }
    &__desc{
        line-height: 125%;
        color: #fff;
        width: 68%;
        margin: 20px 0 35px 0;
    }
    &__btn{
        display: inline-block;
        line-height: 125%;
        color: #154444;
        padding: 15px 25px;
        background-color: #fff;
        
    }
}


.companies{
    margin-top: 140px;


    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        color: #244d4d;
        margin-bottom: 40px;
    }
    &__icon{
        display: flex;
        justify-content: center;
        gap: 100px;
        

    }
}


.benefits{
    &__col{
        display: flex;
        margin-top: 140px;
    }

    &__left{
        position: relative;

        & img{
            position: relative;
            z-index: 10;
        }
    }
    &__behaind{
        position: absolute;
        top: 26px;
        left: 0;
        width: 631px;
        height: 586px;
        background-color: #dee4e2;
    }
    
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        color: #244d4d;
        margin-bottom: 20px;
    }
    &__desc{
        line-height: 125%;
        color: #444;
    }
    &__right{
        margin: 46px 0 0 135px;
    }
    &__box__row{
        display: flex;
    } 
    &__box__col{
        margin-left: 28px;
    }
    &__box__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 130%;
        color: #244d4d;
        margin: 35px 0 14px 0;
    }

    &__box__desc{
        font-size: 18px;
        line-height: 144%;
        color: #383738;
    }

}
    
.catalog {
    margin-top: 140px;
    &__upper{
        margin-bottom: 89px;
    }
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: #242424;
        text-align: center;
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    &__item{
        font-size: 24px;
        line-height: 113%;
        color: #919090;
    }
    &__left{
        position: relative;

        img{
            position: relative;
            z-index: 10;
        }
    }


   &__below{
    display: flex;
    justify-content: space-between;
   }
   &__left{
    margin-left: 12px;
   }

    &__behaind--top{
        width: 190px;
        height: 85px;
        background-color:  #154444;
        position: absolute;
        top: -9px;
        left: -12px;
    }
    &__behaind--bottom{
        width: 190px;
        height: 85px;
        background-color:  #154444;
        position: absolute;
        bottom: -10px;
        right: -11px;
    }

   

    &__col{
        
        display: flex;
         flex-wrap: wrap;
        margin: -15px;
    //      display: grid;
    // gap: 15px;
       
    }

    &__ww {
        width: 50%;
        padding: 15px;
        box-sizing: border-box;
       
    }

    &__container{
          width: 222px;
height: 90px;
        
        // padding: 15px;
    //   display: grid;
    //    grid-template-columns: 1fr 1fr;
       
        
    }


}


.hero{
    &__row{
        display: flex;
        margin-top: 166px;
        
    }

    &__left{
        position: relative;
    }

    &__img{
       position: absolute;
        z-index: 10;
        left: 105px;
    }
    &__behaind{
        width: 492px;
        height: 492px;
        border-radius: 50%;
        background-color: #244d4d;;
        

    }


}

