body{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
p{
    margin: 0;
}

.header{
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 44px 0 26px;
        
    }
    &__logo{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #244d4d;
    }
    &__menu{
        display: flex;
        gap: 80px;

    }

    &__link{
        font-size: 16px;
        color: #161616;
        
    }

    &__link:hover{
        opacity: 0.6;
    }
    &__nav{
        display: flex;
        gap: 30px;
    }

}





.aside{
    &__col{
        display: flex;
        height: 560px;
    }
    &__right{
        background-color: #154444;
        padding: 100px 18px 137px 100px;
        box-sizing: border-box;
    }
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 56px;
        color: #fff;
    }
    &__desc{
        line-height: 125%;
        color: #fff;
        width: 68%;
        margin: 20px 0 35px 0;
    }
    &__btn{
        display: inline-block;
        line-height: 125%;
        color: #154444;
        padding: 15px 25px;
        background-color: #fff;
        
    }
}


.companies{
    margin-top: 140px;


    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        color: #244d4d;
        margin-bottom: 40px;
    }
    &__icon{
        display: flex;
        justify-content: center;
        gap: 100px;
        

    }
}


.benefits{
    &__col{
        display: flex;
        margin-top: 140px;
    }

    &__left{
        position: relative;

        & img{
            position: relative;
            z-index: 10;
        }
    }
    &__behaind{
        position: absolute;
        top: 26px;
        left: 0;
        width: 631px;
        height: 586px;
        background-color: #dee4e2;
    }
    
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        color: #244d4d;
        margin-bottom: 20px;
    }
    &__desc{
        line-height: 125%;
        color: #444;
    }
    &__right{
        margin: 46px 0 0 135px;
    }
    &__box__row{
        display: flex;
    } 
    &__box__col{
        margin-left: 28px;
    }
    &__box__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 130%;
        color: #244d4d;
        margin: 35px 0 14px 0;
    }

    &__box__desc{
        font-size: 18px;
        line-height: 144%;
        color: #383738;
    }

}
    
.catalog {
    margin-top: 140px;
    &__upper{
        margin-bottom: 89px;
    }
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: #242424;
        text-align: center;
        padding-bottom: 20px;
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    &__item{
        font-size: 24px;
        line-height: 113%;
        color: #919090;
    }
    &__left{
        position: relative;

        img{
            position: relative;
            z-index: 10;
        }
    }


   &__below{
    display: flex;
    justify-content: space-between;
   }
   &__left{
    margin-left: 12px;
   }

    &__behaind--top{
        width: 190px;
        height: 85px;
        background-color:  #154444;
        position: absolute;
        top: -9px;
        left: -12px;
    }
    &__behaind--bottom{
        width: 190px;
        height: 85px;
        background-color:  #154444;
        position: absolute;
        bottom: -10px;
        right: -11px;
    }

   

    &__col{
        
        display: flex;
         flex-wrap: wrap;
        margin: -15px;
    //      display: grid;
    // gap: 15px;
       
    }

    &__ww {
        width: 50%;
        padding: 15px;
        box-sizing: border-box;
        
       
    }

    &__container{
        width: 222px;
        height: 90px;
        background-color: white;
        border: 1.50px solid #d9dce5;
        // padding: 15px;
    //   display: grid;
    //    grid-template-columns: 1fr 1fr;
       
        
    }

    


    &__container:hover{
        .catalog__text{
        color: #fff;
        }
        .catalog__img{
           color: #fff; 
        }

        
        background-color: #154444;
    }

    


    &__text{
        color: #808080;
    }
    


}


.hero{
    &__row{
        display: flex;
        margin-top: 166px;
        
        
    }

    &__left{
        position: relative;
    }

    &__img{
       position: absolute;
        z-index: 10;
        left: 105px;
    }
    &__behaind{
        width: 492px;
        height: 492px;
        border-radius: 50%;
        background-color: #244d4d;;
        

    }

    &__right{
       padding: 105px 0 195px 172px;
       box-sizing: border-box;
    }
    &__title{
        font-family: "Monoton", sans-serif;
        font-size: 32px;
        line-height: 150%;
        color: #242424;
    }
    &__desc{
        padding: 20px 0 40px;
        line-height: 135%;
    }

    &__user{
        display: flex;

    }

    &__name{
        padding-left: 10px;
        box-sizing: border-box;
        font-size: 16px;
        p{
            font-size: 14px;
        }
    }


}

.subscribe{
    &__row{
        background-color:  #f4f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        color: #222;
        padding: 68px 0 20px;
    
    }

    &__desc{
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #222;
        padding-bottom: 40px;
    }
    &__form{
        padding-bottom: 55px;
    }
    &__register{
        background-color: #fff;
        padding: 9px 19px 7px 45px;
        
    }
    &__input{
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 138%;
        color: #bababa;
        padding-right: 81px;
       

    }
    &__register{
        position: relative;
    }
 
    &__bf:before{
        content:url("../img/subscribe.svg");
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
        
    }

    &__btn{
        font-weight: 500;
        font-size: 16px;
        line-height: 138%;
        color: #fff;
        background: #305f64;
        padding: 15px 33px 15px 31px;
        border: none;

    }
}



.footer{
    background-color:  #305f64;
    margin-top: 98px;
    &__top{
        display: flex;
        padding: 100px 0 40px;
        justify-content: space-between;
    }
  

    &__logo{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        padding-bottom: 24px;
    }
    &__desc{
        font-size: 18px;
        line-height: 144%;
        color: #fff;
        padding-bottom: 40px;
    }

    &__col--title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 130%;
        color: #fff;
        padding-bottom: 24px;
    }

    &__link{
        font-size: 18px;
        color: #fff;
    }

    &__img{
        display: flex;
        gap: 15px;
    }

    &__input{
        border: none;
        outline: none;
        padding: 14px 70px 13px 22px;
    }

    &__form{
        position: relative;

    }

    &__btn{
        border: none;
        background: #FFB624;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
    }
   

}

.copyright{
    display: flex;
    justify-content: center;
    border-top: 1px solid #407980;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}


