body {
font-family: "DM Sans", sans-serif;
font-size: 20px;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

a {
text-decoration: none;
}

.container {
max-width: 1200px;
width: 100%;
margin: 0 auto;
}

p {
margin: 0;
}

.header__row {
display: flex;
justify-content: space-between;
align-items: center;
padding: 44px 0 26px;
}
.header__logo {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 24px;
color: #244d4d;
}
.header__menu {
display: flex;
gap: 80px;
}
.header__link {
font-size: 16px;
color: #161616;
}
.header__link:hover {
opacity: 0.6;
}
.header__nav {
display: flex;
gap: 30px;
}

.aside__col {
display: flex;
height: 560px;
}
.aside__right {
background-color: #154444;
padding: 100px 18px 137px 100px;
box-sizing: border-box;
}
.aside__title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 56px;
color: #fff;
}
.aside__desc {
line-height: 125%;
color: #fff;
width: 68%;
margin: 20px 0 35px 0;
}
.aside__btn {
display: inline-block;
line-height: 125%;
color: #154444;
padding: 15px 25px;
background-color: #fff;
}

.companies {
margin-top: 140px;
}
.companies__title {
text-align: center;
font-weight: 700;
font-size: 32px;
color: #244d4d;
margin-bottom: 40px;
}
.companies__icon {
display: flex;
justify-content: center;
gap: 100px;
}

.benefits__col {
display: flex;
margin-top: 140px;
}
.benefits__left {
position: relative;
}
.benefits__left img {
position: relative;
z-index: 10;
}
.benefits__behaind {
position: absolute;
top: 26px;
left: 0;
width: 631px;
height: 586px;
background-color: #dee4e2;
}
.benefits__title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 32px;
line-height: 125%;
color: #244d4d;
margin-bottom: 20px;
}
.benefits__desc {
line-height: 125%;
color: #444;
}
.benefits__right {
margin: 46px 0 0 135px;
}
.benefits__box__row {
display: flex;
}
.benefits__box__col {
margin-left: 28px;
}
.benefits__box__title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
line-height: 130%;
color: #244d4d;
margin: 35px 0 14px 0;
}
.benefits__box__desc {
font-size: 18px;
line-height: 144%;
color: #383738;
}

.catalog {
margin-top: 140px;
}
.catalog__upper {
margin-bottom: 89px;
}
.catalog__title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #242424;
text-align: center;
padding-bottom: 20px;
}
.catalog__menu {
display: flex;
align-items: center;
justify-content: center;
gap: 100px;
}
.catalog__item {
font-size: 24px;
line-height: 113%;
color: #919090;
}
.catalog__left {
position: relative;
}
.catalog__left img {
position: relative;
z-index: 10;
}
.catalog__below {
display: flex;
justify-content: space-between;
}
.catalog__left {
margin-left: 12px;
}
.catalog__behaind--top {
width: 190px;
height: 85px;
background-color: #154444;
position: absolute;
top: -9px;
left: -12px;
}
.catalog__behaind--bottom {
width: 190px;
height: 85px;
background-color: #154444;
position: absolute;
bottom: -10px;
right: -11px;
}
.catalog__col {
display: flex;
flex-wrap: wrap;
margin: -15px;
}
.catalog__ww {
width: 50%;
padding: 15px;
box-sizing: border-box;
}
.catalog__container {
width: 222px;
height: 90px;
background-color: white;
border: 1.5px solid #d9dce5;
}
.catalog__container:hover {
background-color: #154444;
}
.catalog__container:hover .catalog__text {
color: #fff;
}
.catalog__container:hover .catalog__img {
color: #fff;
}
.catalog__text {
color: #808080;
}

.hero__row {
display: flex;
margin-top: 166px;
}
.hero__left {
position: relative;
}
.hero__img {
position: absolute;
z-index: 10;
left: 105px;
}
.hero__behaind {
width: 492px;
height: 492px;
border-radius: 50%;
background-color: #244d4d;
}
.hero__right {
padding: 105px 0 195px 172px;
box-sizing: border-box;
}
.hero__title {
font-family: "Monoton", sans-serif;
font-size: 32px;
line-height: 150%;
color: #242424;
}
.hero__desc {
padding: 20px 0 40px;
line-height: 135%;
}
.hero__user {
display: flex;
}
.hero__name {
padding-left: 10px;
box-sizing: border-box;
font-size: 16px;
}
.hero__name p {
font-size: 14px;
}

.subscribe__row {
background-color: #f4f6f6;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.subscribe__title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 32px;
line-height: 150%;
text-align: center;
color: #222;
padding: 68px 0 20px;
}
.subscribe__desc {
font-size: 16px;
line-height: 150%;
text-align: center;
color: #222;
padding-bottom: 40px;
}
.subscribe__form {
padding-bottom: 55px;
}
.subscribe__register {
background-color: #fff;
padding: 9px 19px 7px 45px;
}
.subscribe__input {
border: none;
outline: none;
font-size: 16px;
line-height: 138%;
color: #bababa;
padding-right: 81px;
}
.subscribe__register {
position: relative;
}
.subscribe__bf:before {
content: url("../img/subscribe.svg");
position: absolute;
top: 50%;
left: 17px;
transform: translateY(-50%);
}
.subscribe__btn {
font-weight: 500;
font-size: 16px;
line-height: 138%;
color: #fff;
background: #305f64;
padding: 15px 33px 15px 31px;
border: none;
}

.footer {
background-color: #305f64;
margin-top: 98px;
}
.footer__top {
display: flex;
padding: 100px 0 40px;
justify-content: space-between;
}
.footer__logo {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 24px;
color: #fff;
padding-bottom: 24px;
}
.footer__desc {
font-size: 18px;
line-height: 144%;
color: #fff;
padding-bottom: 40px;
}
.footer__col--title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
line-height: 130%;
color: #fff;
padding-bottom: 24px;
}
.footer__link {
font-size: 18px;
color: #fff;
}
.footer__img {
display: flex;
gap: 15px;
}
.footer__input {
border: none;
outline: none;
padding: 14px 70px 13px 22px;
}
.footer__form {
position: relative;
}
.footer__btn {
border: none;
background: #FFB624;
border-radius: 50%;
width: 28px;
height: 28px;
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 12px;
}

.copyright {
display: flex;
justify-content: center;
border-top: 1px solid #407980;
font-size: 18px;
color: #fff;
padding: 20px;
}

.popular__container {
display: flex;
flex-wrap: wrap;
margin: -15px;
}
.popular__col {
width: 33.3%;
box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);
}
.popular__bottom {
box-sizing: border-box;
padding: 30px 54px 26px 24px;
}
.popular__line {
display: flex;
justify-content: space-between;
}