body{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header{
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #244d4d;
    }
    &__menu{
        display: flex;
        gap: 50px;

    }
    &__nav{
        display: flex;
        gap: 30px;
    }

}

.menu-link{
    font-size: 16px;
    color: #161616;
    
}
.menu-link:hover{
    opacity: 0.6;
}


.aside{
    &__col{
        display: flex;
    }
    &__right{
        background-color: #154444;
        padding: 100px 18px 137px 100px;
        box-sizing: border-box;
    }
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 56px;
        color: #fff;
    }
    &__desc{
        line-height: 125%;
        color: #fff;
        width: 68%;
    }
    &__btn{
        display: inline-block;
        line-height: 125%;
        color: #154444;
        padding: 15px 25px;
        background-color: #fff;
        
    }
}



